

      @media all and (max-width: 1199px) and (min-width: 768px) {
            body {
              background-color: lightblue;
            }
          }
          
          
          @media all and (max-width: 320px) and (min-width: 767px) {
            body {
              background-color: lightgreen;
            }
          }
          
          @media all and (min-width: 1200px) {
            body {
              background-color: rgb(251, 229, 219);
            }
          }
 

@media all and (max-width: 1199px) and (min-width: 768px) {
      body {
        background-color: lightblue;
      }
    }
    
    
    @media all and (max-width: 320px) and (min-width: 767px) {
      body {
        background-color: lightgreen;
      }
    }
    
    @media all (min-width: 1200px) {
      body {
        background-color: rgb(251, 229, 219);
      }
    }


div {
      text-align: center;
       font-size: 30px}

.black-text {color: black}


h3 {
      text-align: center;
      font-size: 40px;
    }

p {
      text-align: center;
      font-size: 25px;
  }

.white-text
  {color: white}

div {
        text-align: center;
        font-size: 30px}
        .black-background {
        background-color:rgb(000, 000, 00);}

#header {font-size: 25px};
