
#firstPage {
      background-image: url("/a4.JPG");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

      @media all and (max-width: 1199px) and (min-width: 768px) {
            body {
              background-color: lightblue;
            }
          }
          
          
          @media all and (max-width: 320px) and (min-width: 767px) {
            body {
              background-color: lightgreen;
            }
          }
          
          @media all (min-width: 1200px) {
            body {
              background-color: rgb(251, 229, 219);
            }
          }
 
}
@media all and (max-width: 1199px) and (min-width: 768px) {
      body {
        background-color: lightblue;
      }
    }
    
    
    @media all and (max-width: 320px) and (min-width: 767px) {
      body {
        background-color: lightgreen;
      }
    }
    
    @media all (min-width: 1200px) {
      body {
        background-color: rgb(251, 229, 219);
      }
    }
.page-background-colour {
     background-color: rgb(81, 94, 123);
}
.black-background {
       background-color:rgb(000, 000, 00);}
.red-background {
     background-color:rgb(234, 11, 11);}
background-color:RGB(93, 109, 126);

div {
      text-align: center;
       font-size: 30px}

.black-text {color: black}


h3 {
      text-align: center;
      font-size: 40px;
    }

p {
      text-align: center;
      font-size: 25px;
  }

.white-text
  {color: white}

div {
        text-align: center;
        font-size: 30px}
        .black-background {
        background-color:rgb(000, 000, 00);}

#header {font-size: 25px};
